body{
    background-color: #573824;
}

h1{
    line-height: 140%;
    font-size: 40px;
    color: #291B1A;
}

h2{
    line-height: 150%;
    font-size: 24px;
    color: #291B1A;
}

p, li{
    line-height: 150%;
    font-size: 16px;
    color: #573A37;
}

.div_principal{
    padding: 24px;
    background-color: #F0E8C2;
    margin: 60px 150px;
    border-radius: 15px;
    font-family: "Alice", serif;
    font-weight: regular;
}


.imagem_div_principal{
    height: 300px;
    border-radius: 10px;
    max-width: 100%;
    
}

footer{
    color: azure;
    text-align: center;
    font-family: "Alice", serif;
    font-weight: regular;
    line-height: 150%;
    font-size: 16px;
    color: #F0E8C2;
}
